*.pyc
.DS_Store
output
output_1
output_2
output_multi
output_clip_draw
output_concepts
diffvg
code/data/init
code/data/arabic-fonts/*.ttf
examples
transfer.py
code/experiments
code/experiments/*
code/experiments/*/*
code/experiments/*/*/*
wandb
wandb/*/*
wandb/*/*/*
TOKEN
*.zip


